body {
  display: flex;
  justify-content: center;
  align-items: center;
    height:100vh;
    padding: 0;
    margin: 0;
    font-family: 'Crimson Text', serif;
    background-color: #9ecaed;
  }
    
/* #temporary-background{
  width: 100vw;
  height: 100vh;
  background-image: url('sonati.jpg');
  background-size: cover;
  opacity:1;
  z-index:1 ;
  padding: 0;
  margin: 0;
  position: fixed;
  top:0;
  transition: 3s ;
transition-timing-function: ease-out;
} */



#pic-part{
  z-index:10000000 ;
  width: 25vh;
  height: 25vh;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  position: fixed;
  top: 5%;
  left: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pic-cover{
  background-color: rgb(255, 255, 255,0.8); 
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
#pic-cover::after{
  content:"";
  background-image:  url(tap.png);
  background-size: cover;
  width: 130%;
  height: 130%;
  position: absolute;
  top:-15%;
  right:-15%;
  /* animation-name: rotate;
  animation-duration: 45s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */

}

@keyframes rotate{

0%
{        transform:  rotateZ(0) 
}      100%
{        transform:  rotateZ(360deg)
}  
}


#messages-circle{
z-index:10000000 ;
  position: fixed;
  top: 20%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}


 
  #layer1{
    width: 99%;
    height:98%;
    background-color: #1eccc3;
    box-shadow: 0 0 5px #1eccc3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #layer2{
    width: 99%;
    height:98%;
    background-color: #eed460;
    box-shadow: 0 0 5px #eed460;
    display: flex;
    justify-content:center;
    align-items: center;
    
  }
  #layer3{
    width: 99%;
    height:98%;
    background-color: #458fd4;
    box-shadow: 0 0 5px #458fd4;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }


  nav{
    width: 4%;
    height: 98%;
    background-color: #e41515;
    margin:0 0 0 0.5%;
  }
  nav span{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background-color: #9ecaed;
  }

 .colorful-background{
  width: 94%;
  height: 98%;
  margin:0 0.5% 0 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 

 #arrows-include{
  width: 96%;
  height: 95%;
  background-color: rgb(72, 197, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 #arrows-box{
  width: 5%;
  height: 95%;
  margin-right: 2%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 }

 #arrows-box span{
   width: 50%;
   height: 10%;
   margin: 3%;
   background-color: rgb(27, 125, 211);
 }

 .text-part{
  width: 90%;
  height: 95%;
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
 }

.text-part > div{
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-right{
width:37%;
height:99%;
margin: 1%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
}

#page1{
  background-color: rgb(143, 211, 238);
}
#page2{
  display: none;
  background-color: rgb(143, 238, 238);
}
#page3{
  display: none;
  background-color: rgb(184, 224, 146);
}

#text{
  width: 80%;
  height: 80%;
  background-color: rgba(114, 138, 165, 0.9);
  padding: 1%;
  position: relative;
  left:9%;
}

#page1 #right-part span{
width: 20%;
height: 20%;
border-radius: 5%;
display: flex;
justify-content: center;
align-items: center;
padding: 5% 1%;
font-family: 'Crimson Text', serif;
font-size:1.4rem;
/* font-style: italic; */
/* border: 2px solid;
border-image-source: linear-gradient(rgb(35, 76, 189),rgb(77, 157, 231),rgb(35, 76, 189),rgb(77, 157, 231), rgb(35, 76, 189)) ;
border-image-slice: 5%; */

background: linear-gradient(-45deg, #c4dfee9f, #a1dff8ee, #68c3e4ab, #6894e6);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



#page1 #right-part span:nth-child(1){
  position: relative;
  left:5%;
  top:0;
}
#page1 #right-part span:nth-child(2){
  position: relative;
  left:70%;
  top:0;
}
#page1 #right-part span:nth-child(3){
  position: relative;
  left:-10%;
  top:0;
}
#page1 #right-part span:nth-child(4){
  position: relative;
  left:38%;
  top:-32%;
}
#page1 #right-part span:nth-child(5){
  position: relative;
  left:65%;
  top:-25%;
}
#page1 #right-part span:nth-child(6){
  position: relative;
  left:25%;
  top:-30%;
}
#page1 #right-part span:nth-child(7){
  position: relative;
  left:15%;
  top:-20%;
}
#page1 #right-part span:nth-child(8){
  position: relative;
  left:60%;
  top:-30%;
}






