body {
  height:100vh;
  padding: 0;
  margin: 0;
  background: rgb(1,75,99);
  background: linear-gradient(339deg, rgba(1,75,99,1) 12%, rgba(10,149,177,1) 30%, rgba(166,230,242,1) 54%, rgba(1,75,99,1) 97%);
font-family: 'Crimson Text', serif;
  }


  
  #temporary-background{
    width: 100vw;
    height: 100vh;
    background-image: url('sonati.jpg');
    background-size: cover;
    opacity:1;
    z-index:1 ;
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
  }
  @keyframes fade2 {
    from {opacity:1} 
    to {opacity:0}
  }

  #pic-part{
    z-index:1000 ;
    width: 15vh;
    height: 15vh;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    position: fixed;
    top: 1%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pic-cover{
    background-color: rgb(255, 255, 255,0.8); 
    width: 70%;
    height: 70%;
    border-radius: 50%;
    cursor: pointer;
  }
  #pic-cover::after{
    content:"";
    background-image:  url(tap.png);
    background-size: cover;
    width: 130%;
    height: 130%;
    position: absolute;
    top:-15%;
    right:-15%;
    /* animation-name: rotate;
    animation-duration: 45s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
  
  }
  
  @keyframes rotate{
  
  0%
  {        transform:  rotateZ(0) 
  }      100%
  {        transform:  rotateZ(360deg)
  }  
  }
  
  #welcome-message{
    z-index:100000 ;
      position: absolute;
      left:50%;
      bottom: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #welcome-message span{
    position: fixed;
      opacity: 0;
      transition: ease-in-out 1s;
      font-size: 1rem;
      color: rgb(2, 61, 100);
    }
  
  
  
  
  @keyframes fadeClick {
    from {opacity:1} 
    to {opacity:0.5}
  }
  
  #underneath-layer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height:100vh;
    padding: 0;
    margin: 0;
  }




  
  
  #first-layer{
    display: none;
   
  }
  

  
  #main-content{
    width:99%;
    height: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #vertical-arrow-layer{
    width: 99% ;
    height:8% ;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #vertical-arrow-layer>div>div>div{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  #prev, #next{
    width: 7%;
    height: 90%;
     background-image: url(arrow.png);
     background-repeat: no-repeat;
     background-size: contain;
   }
   #next{
     transform: scaleY(-1);
   }

   #last-inner{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #last-inner span{
  width: 30%;
  text-align: center;
  }
  
  .box-in-box-mid{
    width: 99%;
      height:99%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-in-box{
    width: 99%;
      height:99%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  
    
  
  .layers-parent{
    background-color: #386FA4;
    box-shadow: black 0 0 3px;
  }
  .layers-parent>div{
    background-color: #59A5D8;
    box-shadow: black 0 0 5px;
  }
  .layers-parent>div>div{
    background-color: #91E5F6;
    box-shadow: black 0 0 5px;
  }
  .layers-parent>div>div>div{
    background-color: #ddf4f8;
    box-shadow: black 0 0 5px;
  }
   
  

  
  
  
   #horizental-arrow{
      opacity: 0;
      width: 30vh;
      height: 10vh;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      position: fixed;
      bottom:17%;
      left: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: scaleY(-1)
   }
   #prev-horiz, #next-horiz{
    width: 200%;
    height: 120%;
     background-image: url(arrow.png);
     background-repeat: no-repeat;
     background-size: contain;
     
   }
   #next-horiz{transform: rotate(90deg)}
   #prev-horiz{transform: rotate(90deg) scaleY(-1)}     /* because when I rotate it went down prev one  */
   @keyframes fade {
    from {top:50%;opacity:0} 
    to {top:0;opacity:1}
  }




  
  #page1{
    width: 99%;
    height: 99%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    animation-name: fade;
    animation-duration: 0.5s;
  
  }
  
  
  
  .left-right{
    width:98%;
    height:46%;
    margin: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
  
  
  #page1 #left-part span{
    position: fixed;
    top:20%;
  width: 90%;
  height: auto;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 1%;
  font-family: 'Crimson Text', serif;
  font-size:1rem;
  
  }
  #img-slide{
    position: fixed;
    bottom:20%;
    width: 90%;
  }
  .images{
    display: none;
    
  }
  
  
  
   /******************** PAGE  2 *******************************************************/
  
   #page2 {
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 99%;
    height: 90%;
    position: relative;
    margin-top: 20%;
    animation-name: fade;
    animation-duration: 0.5s;
    font-size: 0.8em;
    grid-gap: 0.3em;
  }
  .grid-item {
   
    /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 49%, rgba(0,15,19,0.1) 100%);
  border-radius: 2em; */
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.2em;
    text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
   #double-item{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #hidden-item{
    box-shadow:transparent;
  }
  @keyframes show{
    from{opacity:0};
    to{opacity:1}
  }
  
    /******************** PAGE  3 *******************************************************/
  




    #page3{
      width: 99%;
      height: 99%;
      display: none;
      position: relative;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      animation-name: fade;
      animation-duration: 0.5s;
    }
    #contact{
      width: 99%;
      height: 30%;
      margin-top: 20%;
      background: rgb(232,251,254);
      background: linear-gradient(339deg, rgba(232,251,254,1) 0%, rgba(221,244,248,1) 28%, rgba(234,249,251,1) 48%, rgba(229,244,246,1) 66%, rgba(221,244,248,1) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
    }
    #icons{
      display: flex;
      flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 3%;
  margin:5% 0 0 5%;
  padding: 0;
    }
    #info{
      display: flex;
      flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 2%;
  padding: 0;
  
    }
  
  
    #contact ul li {
      list-style-type: none;
      margin:0;
      padding: 0;
    }
  
  
  #contact ul li img{
    list-style-type: none;
    width: 100%;
    height: 100%;
    
    /* position: relative; */
  }
  
  /* .gmail{
    content: url(https://simpleicons.org/icons/gmail.svg);
    width: 3%;
    position: absolute;
    right: 10%;
    top: -10%;
  }
  .freecodecamp::before{
  content: url(https://simpleicons.org/icons/freecodecamp.svg);
  width: 3%;
    position: absolute;
    right: 10%;
    top: -10%;
  }
  
  .codewars::before{
    content: url(https://simpleicons.org/icons/codewars.svg);
    width: 3%;
    position: absolute;
    right: 10%;
    top: -10%;
  }
  
  .github::before{
    content: url(https://simpleicons.org/icons/github.svg);
    width: 3%;
    position: absolute;
    right: 10%;
    top: -10%;
  } */
    #page3 form{
      width: 99%;
      height: 55%;
      display: grid;
      justify-content: space-around;
      grid-template-columns: 1fr 3fr;
   
    }
  
  input{
      height:40%;
     
      }
  label{
    height:40%;
      padding: 0.5em 0.5em 0.5em 0;
    
  }
  input[name='comment']{
    height:80%;
    overflow: scroll;
    }
  
  
  input[value='Send']{
    grid-column: 2 / 3;
    padding-bottom: 0.5rem;
  }
  
  
  
  




/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/
/******************** *******************************************************/

@media only screen and (min-width: 500px) {
  
  
  #underneath-layer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height:100vh;
    padding: 0;
    margin: 0;
  }
  
  
  #first-layer{
    width: 8%;
    height: 90%;
    margin:0 0 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #first-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #first-inner span{
  width: 30vh;
  text-align: center;
    transform: rotate(-90deg);
  }

  
  #main-content{
    width:75%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #vertical-arrow-layer{
    width: 8%;
    height: 90%;
    margin:0 2% 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #vertical-arrow-layer>div>div>div{
    display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  
  #prev, #next{
    width: 100%;
     background-image: url(arrow.png);
     background-repeat: no-repeat;
     background-size: contain;
   }


   #last-inner{
    display: none;
  }
  .box-in-box-mid{
    width: 98%;
      height:96%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-in-box{
    width: 86%;
      height:97%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    
  
  .layers-parent{
    background-color: #386FA4;
    box-shadow: black 0 0 5px;
  }
  .layers-parent>div{
    background-color: #59A5D8;
    box-shadow: black 0 0 5px;
  }
  .layers-parent>div>div{
    background-color: #91E5F6;
    box-shadow: black 0 0 5px;
  }
  .layers-parent>div>div>div{
    background-color: #ddf4f8;
    box-shadow: black 0 0 5px;
  }
   
  
  
  
   
  
  
  
   #horizental-arrow{
      z-index:10000000 ;
      opacity: 0;;
      width: 35vh;
      height: 35vh;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      position: fixed;
      top: 65%;
      left: 42%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #prev-horiz, #next-horiz{
    width: 70%;
    height: 30%;
     background-image: url(arrow.png);
     background-repeat: no-repeat;
     background-size: contain;
     
   }
   #next-horiz{transform: rotate(90deg)}
   #prev-horiz{transform: rotate(90deg) scaleY(-1)}     /* because when I rotate it went down prev one  */
   @keyframes fade {
    from {top:50%;opacity:0} 
    to {top:0;opacity:1}
  }
  
  
   @keyframes fade {
    from {top:50%;opacity:0} 
    to {top:0;opacity:1}
  }
  
  #page1{
    width: 99%;
    height: 99%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    animation-name: fade;
    animation-duration: 0.5s;
  
  }
  
  
  
  .left-right{
    width:37%;
    height:99%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }
  
  
  #page1 #left-part span{
  width: 20%;
  height: 20%;
  opacity: 0;
  background-color: beige;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 1%;
  font-family: 'Crimson Text', serif;
  font-size:1.4rem;
  
  }
  #img-slide{
    position: relative;
   
  }
  .images{
    display: none;
    
  }
  
  
  
  #page1 #left-part span:nth-child(1){
    position: relative;
    left:5%;
    top:0;
  }
  #page1 #left-part span:nth-child(2){
    position: relative;
    left:70%;
    top:0;
  }
  #page1 #left-part span:nth-child(3){
    position: relative;
    left:-10%;
    top:0;
  }
  #page1 #left-part span:nth-child(4){
    position: relative;
    left:38%;
    top:-32%;
  }
  #page1 #left-part span:nth-child(5){
    position: relative;
    left:65%;
    top:-25%;
  }
  #page1 #left-part span:nth-child(6){
    position: relative;
    left:25%;
    top:-30%;
  }
  #page1 #left-part span:nth-child(7){
    position: relative;
    left:15%;
    top:-80%;
  }
  #page1 #left-part span:nth-child(8){
    position: relative;
    left:60%;
    top:-100%;
  }
  #page1 #left-part span:nth-child(9){
    position: relative;
    left:60%;
    top:-120%;
  }
  #page1 #left-part span:nth-child(10){
    position: relative;
    left:60%;
    top:-150%;
  }
  
  
  
  




















  /******************** PAGE  2 *******************************************************/
  
  #page2 {
    display: none;
    grid-template-columns: repeat(4,1fr);
    width: 99%;
    height: 95%;
    position: relative;
    margin-top: 5%;
    animation-name: fade;
    animation-duration: 0.5s;
    font-size: 0.8em;
    grid-gap: 0.3em;
    overflow: hidden;
  }
 
  .grid-item {
   
    /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 49%, rgba(0,15,19,0.1) 100%);
  border-radius: 2em; */
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.2em;
    text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
   #double-item{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #hidden-item{
    box-shadow:transparent;
  }
  @keyframes show{
    from{opacity:0};
    to{opacity:1}
  }

  #contact{
    margin-top: 10%;
  }



}